option domain-name "{{ tier1_domain_name }}";
option domain-name-servers {{tier1_dns_server}};
option routers {{tier1_gateway_server}};
default-lease-time {{ dhcpd_default_lease_time }};
max-lease-time {{ dhcpd_max_lease_time }};
authoritative;
filename "{{ dhcpd_filename }}";
next-server {{ dhcpd_next_server }};

subnet {{ tier1_subnet }} netmask {{ tier1_subnet_mask }} {
  range {{ dhcpd_subnet_range_start }} {{ dhcpd_subnet_range_end }};}

{% for node in bare_metal %}
host {{ node.hostname }} {
    hardware ethernet    {{ node.mac }};
    fixed-address        {{ node.ip }};
    option host-name     {{ node.hostname }}; }
{% endfor %}

