option domain-name "{{ tier1_domain_name }};
option domain-name-servers {{tier1_dns_server}};
option routers {{10.9.8.1}};
default-lease-time {{ dhcpd_default_lease_time }};
max-lease-time {{ dhcpd_max_lease_time }};
authoritative;
filename "{{ dhcpd_filename }}";
next-server {{ dhcpd_next_server }};

subnet {{ dhcpd_subnet_cidr }} netmask {{ dhcpd_subnet_netmask }} {
  range {{ dhcpd_subnet_range_start }} {{ dhcpd_subnet_range_end }};}

{% for node in bare_metal %}
host {{ nodes.hostname }} {
    hardware ethernet    {{ nodes.mac }}
    fixed address        {{ nodes.ip }}
    option host-name     "{{ nodes.hostname }}"; }
{% endfor %}

